:root {
  --fs-main-heading: 70px;
  --ff-main-heading: "Roboto, sans-serif";
  --fw-main-heading: 900;
  --lh-main-heading: 77px;

  --fs-content: 23px;
  --ff-content: "Titillium Web", sans-serif;
  --fw-content: 400;
  --lh-content: 35px;
  --clr-content: #444444;
}

body {
  line-height: 1.6;
}

.post-img {
  /* height: 800px; */
  /* overflow: hidden; */
}

.post-img img {
  /* position: absolute; */
  /* height: 700px; */
  width: 100%;
  border-radius: 20px;

  z-index: -1;
  opacity: 0.9;
}
.container {
  width: 100%;
}

.container h1 {
  text-align: center;
  font-size: var(--fs-main-heading);
  font-family: var(--ff-main-heading);
  font-weight: var(--fw-main-heading);
  line-height: var(--lh-main-heading);
  color: red;
}

.container {
  font-size: var(--fs-content);
  font-weight: var(--fw-content);
  font-family: var(--ff-content);
  line-height: var(--lh-content);
  color: var(--clr-content);
}
.main-body {
  position: relative;
}

.blog-content {
  position: relative;
}
